.flex{

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.link{
    text-decoration: none;
    color: black;   
    padding: 10px 15px;
    border: 2px solid black;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;

}